<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>readhub - share your books!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <link href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/flat-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/application.css') }}" rel="stylesheet">
</head>
<body data-twttr-rendered="true">
<div class="container">
    <div class="headline">
        <h1 class="logo">
            <a href="{{ url_for('landing') }}">read<span class="red">hub</span></a>
            <small>share your books</small>
        </h1>

        <div class="panel-user">
            {% if current_user.is_authenticated() %}
                <span class="">Hello, {{ current_user.email }}.</span>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ url_for('book_add') }}"><span class="fui-plus"></span> Add book</a>
                    <a class="btn btn-default" href="{{ url_for('logout') }}">Logout</a>
                </div>
            {% else %}
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ url_for('login') }}"><span class="fui-exit"></span> Login</a>
                    <a class="btn btn-primary" href="{{ url_for('register') }}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /headline -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>
</body>
</html>
